:root {
  --primary: #ff6600;
  --dark: #131921;
  --white: #ffffff;
  --gray: #f2f2f2;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--gray);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--dark);
  color: white;
  padding: 15px;
}

.logo {
  color: var(--primary);
}

.navbar input {
  width: 40%;
  padding: 8px;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.seller-btn {
  background: var(--primary);
  padding: 6px 10px;
}

/* SLIDER */
.slider {
  display: flex;
  overflow-x: auto;
  background: white;
}

.slide {
  min-width: 300px;
  height: 150px;
  background: #ddd;
  margin: 10px;
}

/* PRODUCTS */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 200px;
  background: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.img-box {
  height: 120px;
  background: #ddd;
}

/* BUTTON */
button {
  background: var(--primary);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/* REELS */
.reels {
  padding: 20px;
  background: white;
}

.reels-container {
  display: flex;
  gap: 10px;
}

.reel {
  width: 150px;
  height: 250px;
  background: black;
  color: white;
}

/* LOADING BAR */
#loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  background: var(--primary);
  transition: width 0.5s;
}
.form-container {
  width: 300px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  text-align: center;
}

.form-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}
.categories {
  text-align: center;
  margin: 20px;
}

.categories button {
  margin: 5px;
  padding: 10px;
  background: var(--dark);
  color: white;
  border: none;
  cursor: pointer;
}
.dashboard {
  width: 300px;
  margin: auto;
  background: white;
  padding: 20px;
}

.dashboard button {
  margin-top: 10px;
  width: 100%;
}

video {
  border-radius: 10px;
}
.reels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.reels-container iframe {
  max-width: 100%;
}
